@{
    ViewData["Title"] = "Home Page";
}

<style>
        h1{text-align: center;}
</style>

<body>
    <div>
        <h1 style=font-family:"Monaco",monospace ;>Welcome to the New Gensis World</h1>
    </div>
</body>